{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h2>StreamSets Self-Service Ingestion</h2>
                    <span class="subheading">Democratization Your Data</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Benefits of Self-Service Data Ingestion
                </p>
                <p>
                    1. Self-service ingestion allows enterprises to move away from a fragmented approach to data
                    capturing, enrichment, and processing.


                </p>
                <p>
                    2. Empowers everyone in an organization to make data-driven decisions by making a broad range of
                    data sources available for analytics purpose.
                </p>
                <p>
                    3. Empowers non-technical users to replicate data for their analytics needs.
                </p>
                <p>
                    4. Empowers users to focus on high-value analytics vs creating/maiintaing ETL jobs
                </p>
                <p>
                    5. Self-Service data ingestion is inherently scalable and performant
                </p>
                <p>
                    6. Democratize new data sources faster and at-scale.
                </p>

            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
