{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
include "header.html" %}
<!-- Page Header -->
<header
        class="masthead"
        style="background-image: url('../static/img/login-bg.jpg')">
</header>
<main class="mb-4">
    <div class="container">
        <div class="row">
            <!-- TODO: add a flash message here for users registering twice -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="flash">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ render_form(form, novalidate=True) }}
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %} {% endblock %}
