{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
include "header.html" %}

<!-- Page Header -->
<header
        class="masthead"
        style="background-image: url('../static/img/data-ingestion.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>StreamSets Self-Service Ingestion</h2>
                    <span class="subheading">A collection of pre-defined ingestion patterns</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="flash">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="col-lg-8 col-md-10 mx-auto">
                <!--TODO: render template form here-->
                <div style="text-align: left;">
                <span class="badge rounded-pill" style="background-color: teal; color: white;">
                    <h4>Step 2: Source configurations: </h4>
                </span>
                </div>
                <div class="mt-4">
                    {{ render_form(form, novalidate=True) }}
                </div>
                <div class="disclaimer">
            <p><h6>Note: The static parameters will be shown as greyed out and can not be overridden.</h6></p>
        </div>
            </div>
        </div>
    </div>
</main>
{% include "footer.html" %} {% endblock %}
